<footer>
    <div class="f-info">
        <div class="f-info-socials ">
            <a href="https://www.facebook.com/profile.php?id=100052616195815"><i class="fa-brands fa-square-facebook  btn btn-outline-info"></i></a>
            <a href="https://www.instagram.com/suman_mai/?theme=dark"><i class="fa-brands fa-square-instagram  btn btn-outline-info"></i></a>
            <a href="https://www.linkedin.com/in/suman-maity-981853293/"><i class="fa-brands fa-linkedin  btn btn-outline-info"></i></a>
        </div>
        <div class="f-info-brand">&copy; WanderLust Privet Limimed</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>